#profiles {
    width: 400px;
    margin: 120px auto 120px;
    background-color: #fff;
    padding: 0 20px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    text-align: center;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
    color: rgb(243, 188, 188);
  }

  p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #666;
  }
